.searchParams {
    background-image:	url("../img/filterBackground.jpg");	
    height:				350px;	
}
/*        
        .checkBox {	
                width:				20px; 
                height: 			20px; 
                background-color:	#81b3d2;
        }	
*/
.footer { 
	display: 				flex;	
	flex-direction: 		row; 
	background-color: 		white; 
	height: 				100px; 
	align-items: 			center; 
	justify-content: 		space-around; 
}
.footerRow {
	display: 				contents;
}	
body {
    margin:					0;
    margin-left:			auto;
    margin-right:			auto;		
    padding:				0;
    font-family:			'PT Sans', sans-serif;		
    font-size:				14px;
    line-height:			26px;
    text-transform:			uppercase;
    background-color:		#f2f2f2;	
    width: 					1280px;
}

.topBanner {
    background-image:		url("../img/sedona.jpg"); 
    background-position:	top center;		
    background-size:		contain;				
    background-repeat:		no-repeat;		
    width: 					1200px;
    height:  				800px;
    background-position-y:	-25px;	
}

.mainContainer	{
    display:				flex;
    flex-direction:			column;
    width:					1200px;
    margin-left:			auto;
    margin-right:			auto;
    background-color:		white;	
}

.navigation	{		
    display:				flex;			
    flex-direction:			row;	
    font-weight:			bold;	
    background-color:		white;	
}	

.navigation	ul {		
    display:				flex;			
    flex-direction:			row;		
    justify-content: 		space-around;		
    padding: 				0;
    line-height:			30px;	
    width: 					100%;	
}	

.flexholder {
    display: 				flex;
}
.flexholder.row{
    flex-direction: 		row;
}
.flexholder.column {
    flex-direction: 		column;
}    
.flexholder .flex_text {
    flex-grow:				1;
    flex-basis:				30%;
    text-align: 			center;

}
.flexholder .flex_img {
	flex-grow:				3
}
.flexholder .flex_img img {
    width: 					100%;
    max-height: 			300px;
}
.reason {
	position:				relative
}
.reason > .flexholder {
    height:					300px;
}
.reason_items >.flexholder {
    height:					350px;
}
.reason_items.small >.flexholder {
    height:					300px;
}            

.flexholder.forCamper,  .flexholder.request{
    justify-content: 		center;
    align-items: 			center;
}
.reason_items .thin {
    width:					80%;
}
.reason_items .uthin {
    width:					40%;
}
.grey {
    background:				#eee;
}
.map {
    position:				relative;
    height: 				575px;
    overflow-y: 			hidden;
}
.map img{
    width:					100%;
}
footer {
    width: 					1200px;
    margin:					0 auto;
}
.footer-links {
    position: 				absolute;
    bottom: 				0;
    background: 			#ffffffcc;
    width: 					100%;
}
.footer-links .flexholder {
    justify-content: 		space-around;
    align-items: 			center;
    height: 				100px;
}
#order {
    position: 				absolute;
    bottom: 				-365px;
    left: 					300px;
    width: 					530px;
    opacity:				0;
    z-index: 				1;
    background: 			white;
    padding: 				35px;
}        

.logo {
    width: 				138px;		
}
.logo a {
    position: 			absolute;
    top: 				0px;		
}
.bannerMask {
    height:				57px;		
    background-image: 	url(../img/zzz.png);		
}
.text {
    text-align:			center;		
}
.textSedona	{
    height: 			450px;
}
.textInvite {
    height:				220px;		
    background-color:	white;				
    padding-top: 		40px;
}
form {
    font-weight:		bold;
}
label {
    display:			inline-block; 		
    width:				100px;		
}
input {
    display:			inline-block; 	
    margin-left:		0;
    padding-left:		15px;
    //		line-height:		32px;
    height:				34px;		
    text-transform:		uppercase;		
    background-color:	#f2f2f2;		
    width:				320px;	
    border:				none;	
    font-family:		'PT Sans', sans-serif;		
    font-size:			14px;		
    font-weight:		bold;	
    outline-color:		#e5e5e5;
}		
.date {
    background-color:	#f2f2f2;					
}
.date:hover {
    background-color:	#ebebeb;	
}
.date:active {
    background-color:	#ffffff;		
}	
a {
    text-decoration:	none;
    color:				black;
}
a:hover {		
    color: 				#81b3d2;
}
a:active {
    color: 				#b2b2b2;		
}
.aActive {
    color:				#766357;		
}	
li {
    list-style-type:	none;
}
li:hover {
    color: 				#81b3d2;
}
li:active {
    color:				#777777;
}	
.bonusName {
    font-size:			21px;		
}
.dateInput {
    margin:				20px;
}

.invite {
    width: 500px;
    margin-left: auto;
    margin-right: auto;		
    font-size:			21px;
    line-height:		26px;	
}
.search {
    font-size:			21px;
    line-height:		26px;		
    background-color:	#766357;	
    color:				white;
    display: block;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border: none;                
}
.search:hover {
    background-color:	#604e43;	
    color:				white;				
}
.search:active {
    background-color:	#503e33;	
    color:				#766860;				
}		
.fiveReasons {
    color:				rgb( 51, 51, 51 );		
    font-weight:		normal;		
    margin-top: 30px;
}
/*	.reasonName {
                font-size:			21px;
        }	 */
.reasonName {
    width: 				300px;
    height: 			300px;				
    padding-right: 		60px;
    padding-left: 		60px;
    padding-top: 		50px;		
}	
.reasonWithPictName {
    font-size: 			21px;
    font-weight:		bold;
}	
.reason345 {
    background-color:	#eeeeee;	
}		
.placeView {
    background-color:	#81b3d2;	
    color: 				#ffffff;		
    display:			flex;
    flex-direction: 	column;
    justify-content: 	center;
    align-items: 		center;		
}

.icon {
    width: 				74px; 
    height: 			74px; 
    background-repeat: 	no-repeat;
}
.iconApartment {
    background-image: 	url(../img/iconApartment.svg);
}
.iconFood {
    background-image: 	url(../img/iconFood.svg);
}
.iconSouvenirs {
    background-image: 	url(../img/iconSouvenirs.svg);
}
.star {	
    height: 			17px; 
    background-image:	url("../img/star.svg");	
}	
.stars4 {
    width:				70px;
}
.stars3 {
    width:				55px;
}
.stars2 {
    width:				35px;
}		
.youtubeButton {
    display: 			block; 
    margin-left: 		auto; 
    margin-right:		auto; 
    margin-top:			13px; 
    width:				22px; 
    height:				18px;	
}
.fbButton {	
    display: 			block; 
    margin-left:		auto; 
    margin-right:		auto; 
    margin-top:			10px; 
    width:				12px; 
    height:				22px;
}
.twitterButton {
    display: 			block; 
    margin-left: 		auto; 
    margin-right:		auto; 
    margin-top:			14px; 
    width:				20px; 
    height:				16px;	
}
.visit {
    font-size:			21px;
    line-height:		26px;
    color:				black;
    font-weight:		bold;
}
.hotelName {
    font-size:			21px;
    line-height:		26px;
    color:				black;
    font-weight:		bold;
}	
.hotelName:hover {
    color:				#a3c7de;
}
.hotelName:active {
    color:				#b2b2b2;
}	
.sort {
    font-size:			12px;
    line-height:		18px;
    color:				black;
}
.sortType {
    color:					rgba( 0, 0, 0, 0.302 );	
    text-decoration:		underline;
    text-decoration-style: 	dotted;		
}
.sortType:hover {
    color:				#81b3d2;	
}	
.sortType:active {
    color:				#000000;	
    text-decoration:	none;		
}		
.sortTypeActive {
    color:				#81b3d2;
}	
.btnHotelMoreInfo { 
    color: 				#ffffff;
    background-color:	#81b3d2;
    font-weight:		bold;
}
.btnHotelMoreInfo:hover { 
    color: 				#ffffff;	
    background-color:	#669ec0;
}
.btnHotelMoreInfo:active { 
    color:				#88b6d1;
    background-color:	#5496bd;
}		
.btnHotelBookIt { 
    color: 				#ffffff;
    background-color:	#766357;
    font-weight:		bold;
}	
.btnHotelBookIt:hover { 
    color: 				#ffffff;
    background-color:	#604e43;
}	
.btnHotelBookIt:active { 
    color:				#695950;
    background-color:	#503e33;
}	
.rating {
    background-color: 	#f2f2f2;
}
.quInteresting {
    font-size:			30px;
}
.quantity {
    text-align: 		center; 		
    width: 22px;
    height: 30px;                
}	
.plusMinus	{
    font-size:			18px;
    font-weight:		bold;		
    width:				32px;
    height:				32px;
    background-color:	#f2f2f2;
    color:				#a9a9a9;		
}
.minus	{
    width:					32px;
    height:					32px;
    background-color:		#f2f2f2;		
    background-image: 		url("../img/minusGray.png");			
    background-position:	center;
    background-repeat:		no-repeat;		
}	
.minus:hover {
    background-image: 		url("../img/minusBlack.png");					
}
.minus:active {
    background-image: 		url("../img/minusBlue.png");					
}	
.plus	{
    width:					32px;
    height:					32px;
    background-color:		#f2f2f2;		
    background-image: 		url("../img/plusGray.png");			
    background-position:	center;
    background-repeat:		no-repeat;		
}		
.plus:hover {
    background-image: 		url("../img/plusBlack.png");					
}
.plus:active {
    background-image: 		url("../img/plusBlue.png");					
}
.calendar {
    display: 			inline-block; 
    height: 			36px; 
    width:				34px; 
    background:			url('../img/calendarGray.png');	
    background-color: 	#f2f2f2; 		
    background-repeat: 	no-repeat;
    background-position:center; 		
    vertical-align: 	bottom; 
    margin-left:		-4px;
}
.calendar:hover {
    display: 			inline-block; 
    height: 			36px; 
    width:				34px; 
    background:			url('../img/calendarBlack.png');	
    background-color: 	#f2f2f2; 		
    background-repeat: 	no-repeat;
    background-position:center; 		
    vertical-align: 	bottom; 
    margin-left:		-3px;
}
.calendar:active {
    display: 			inline-block; 
    height: 			36px; 
    width:				34px; 
    background:			url('../img/calendarBlue.png');	
    background-color: 	#f2f2f2; 		
    background-repeat: 	no-repeat;
    background-position:center; 		
    vertical-align: 	bottom; 
    margin-left:		-3px;
}	
.searchButton {
    background-color:	#81b3d2;
    font-size:			21px;
    line-height:		26px;
    color:				white;
    width:				458px;
    height:				58px;
}
.searchButton:hover {
    background-color:	#669ec0;		
}	
.searchButton:active {
    background-color:	#5496bd;		
}		
.quantity {
    width:				22px;
}		
.socialBtn {
    display:			inline-block;
    width: 				45px; 
    height: 			45px; 
    background-color: 	#81b3d2;
}	
.socialBtn:hover {
    display:			inline-block;
    width: 				45px; 
    height: 			45px; 
    background-color: 	#669ec0;
}	
.socialBtn:active {
    display:			inline-block;
    width: 				45px; 
    height: 			45px; 
    background-color: 	#5496bd;
}		
.htmlAcademy {
    width: 				125px; 
    height: 			43px; 
    background-image: 	url("../img/logoBlack.svg");    
}		
.htmlAcademy:hover {
    width: 				125px; 
    height: 			43px; 
    background-image: 	url("../img/logoBlue.svg");    
}	
.htmlAcademy:active {
    width: 				125px; 
    height: 			43px; 
    background-image: 	url("../img/logoGray.svg");    
}
.arrowDown {
    list-style-image:	url("../img/arrowDownGray.svg");
}
.arrowDown:hover {
    list-style-image:	url("../img/arrowDownBlack.svg");		
}	
.arrowDown:active {
    list-style-image:	url("../img/arrowDownBlue.svg");		
}		
.arrowDownActive {
    list-style-image:	url("../img/arrowDownBlue.svg");		
}			
.arrowUp {
    list-style-image:	url("../img/arrowUpGray.svg");
}	
.arrowUp:hover {
    list-style-image:	url("../img/arrowUpBlack.svg");
}	
.arrowUp:active {
    list-style-image:	url("../img/arrowUpBlue.svg");
}		
.arrowUpActive {
    list-style-image:	url("../img/arrowUpBlue.svg");
}

.dateInput .flexholder.row {
    justify-content: 	space-between;

}
.counters {
	margin-right:		20px
}
.searchButton {
    width:				100%;
    margin-top: 		35px;
}

.searchResult > .flexholder {
    justify-content: 	space-around;
    height: 			100px;
    border-bottom: 		1px solid #dede;
    align-items: 		center;    
}

.searchResult .links {
	flex-basis:			35%;
}
.searchResult .controls {
	flex-basis:			25%;
}
.searchResult .controls .flexholder{
	justify-content: 	flex-end;
}
.searchResult .controls .flexholder li{
	flex-basis:			10%
}
.searchResult .links .sort{
	justify-content: 	space-between;
}

.hotel {
    padding: 			30px 40px;
    border-bottom: 		1px solid #e4e4e4;
}

.hotel .hotelPhoto{
    flex-basis: 		20%;
}
.hotel .hotelDescription{
    flex-basis: 		60%;
}
.hotel .hotelRating{
    flex-basis: 		20%;
}

.hotelRating {
	justify-content:	space-between;
}